:root {
    --background: #0B0C10;
    --white: #FFFFFF;
    --gray: #1F2833;
    --dark-gray: #171d24; 
    --light-gray: #C5C6C7;
    --light-blue: #66FCF1;
    --blue: #45A29E;
}

@font-face {
    font-family: pussy;
    src: url('http://localhost/beneush/Sklep/font/Phenomena-Bold.eot');
    src: url('http://localhost/beneush/Sklep/font/Phenomena-Bold.eot?#iefix') format('embedded-opentype'),
    url('http://localhost/beneush/Sklep/assets/font/Phenomena-Bold.woff2') format('woff2'), 
    url('http://localhost/beneush/Sklep/assets/font/Phenomena-Bold.woff') format('woff'),
    url('http://localhost/beneush/Sklep/assets/font/Phenomena-Bold.ttf') format('truetype');
}

body {
    background-color: var(--dark-gray);
    font-family: 'pussy', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.navbar-search-bar form {
    display: flex;
    align-items: center;
    border-radius: 20px; /* Adjust the value to change the roundness */
    overflow: hidden;
    background-color: var(--light-gray); /* Background color of the search bar */
    padding: 5px;
}

.navbar-search-bar input[type="text"] {
    flex: 1; /* Take up remaining space */
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    width: 500px;
    font-size: 16px; /* Adjust font size as needed */
    color: var(--blue);
}

.navbar-search-bar button {
    background-color: var(--blue); /* Button background color */
    border: none;
    color: var(--dark-gray);
    padding: 10px 20px;
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
    border-radius: 20px; /* Match the input field's border-radius */
    transition: background-color 0.3s ease;
}

.navbar-search-bar button:hover {
    background-color: var(--light-blue); /* Change button color on hover */
}

.navbar svg {
    fill: var(--blue);
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
}

.navbar-icons {
    display: flex;
    flex-direction: row;
}

.navbar-icon {
    margin-left: 10px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
}

.navbar-icon svg {
    fill: var(--blue);
    width: 100%; /* Make sure the icon fills its container */
    height: 100%; /* Make sure the icon fills its container */
}

.card-container {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px; /* Adjust the value to change the roundness */
    background-color: var(--gray); /* Change the background color as needed */
    padding: 20px; /* Add padding for content */
    box-shadow: 0 0 0 1px var(--light-gray);
}

.card-container a {
    text-decoration: none;
}

.card {
    margin-left: 30px;
    margin-top: 10px;
}

.card:hover {
    box-shadow: 0 0 0 3px var(--light-blue);
    border-radius: 30px;
    transform: scale(1.01, 1.01);
}

.card img {
    border-radius: 30px;
    height: 328px;
    width: auto;
}

.card h3 {
    font-size: 34px;
    color: var(--light-blue);
    text-align: center;
}

.card p {
    font-size: 23px;
    color: var(--blue);
    margin-top: -25px;
    text-align: center;
}

.add-product-title {
    font-size: 36px;
    color: var(--light-blue);
    text-align: center;
}

.add-product-form {
    box-shadow: 0 0 0 3px var(--blue);
    border-radius: 30px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

.add-product-form label {
    color: var(--light-blue);
    font-size: 24px;
}

.add-product-form input[type='number'],
.add-product-form input[type='text'] {
    width: 600px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--light-gray);
}

.add-product-form textarea {
    width: 600px;
    height: 200px;
    border-radius: 10px;
    background-color: var(--light-gray);
}

.add-product-form button {
    width: 600px;
    height: 43px;
    font-family: 'pussy', sans-serif;
    margin-bottom: 20px;
    background-color: var(--light-blue);
    border-radius: 10px;
    color: var(--dark-gray);
    font-size: 30px;
}

.add-product-form button:hover {
    background-color: var(--blue);
    color: var(--white);
}

.add-product-form input[type='file'] {
    border-radius: 10px;
    background-color: var(--light-gray);
    width: 600px;
}

.product-info-flex-container {
    display: flex;
    justify-content: center;
}

.product-photo {
    width: 800px;
    margin-top: 40px;
    box-shadow: 0 0 0 2px var(--light-gray);
    border-radius: 10px;
    background-color: var(--gray);
    text-align: center;
}

.product-photo img {
    height: 600px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-photo h2 {
    color: var(--white);
    font-weight: 400;
    font-size: 37px;
    margin-top: -2px;
}

.productOrder {
    width: 400px;
    margin-top: 40px;
    margin-left: 40px;
    box-shadow: 0 0 0 2px var(--light-gray);
    border-radius: 10px;
    background-color: var(--gray);
    text-align: center;
}

.productOrder h2 {
    color: var(--white);
    font-size: 30px;
}

.productOrder p {
    color: var(--light-gray);
    font-size: 20px;
}

/* Remove WebKit arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Optional: Ensure consistency across browsers */
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.amount-selection button {
    background-color: var(--gray);
    color: var(--light-gray);
    box-shadow: 0 0 0 1px var(--light-gray);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.amount-selection input {
    height: 45px;
    width: 150px;
    background-color: var(--gray);
    color: var(--white);
    box-shadow: 0 0 0 1px var(--white);
    border-radius: 10px;
    text-align: center;
    font-family: 'pussy', sans-serif;
}

.buyButtons {
    margin-top: 230px;
}

.buyButtons button {
    width: 300px;
    height: 40px;
    background-color: var(--blue);
    color: var(--dark-gray);
    box-shadow: 0 0 0 1px var(--dark-gray);
    border-radius: 10px;
    font-family: 'pussy', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.buyButtons button:hover {
    background-color: var(--light-blue);
}

.product-description {
    box-shadow: 0 0 0 2px var(--light-gray);
    border-radius: 10px;
    width: 1240px;
    margin-top: 50px;
}

.product-description p {
    color: var(--white);
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.product-description h2 {
    color: var(--blue);
    text-align: center;
    font-size: 100px;
}